# Secret usado para firmar cookies de sesión
AUTH_SECRET=solsumed-dev-secret

# URL del backend principal de Solsumed (NestJS)
NUXT_PUBLIC_SOLSUMED_API_URL=http://localhost:4000

# URL del backend de WhatsApp API
NUXT_PUBLIC_WHATSAPP_API_URL=http://localhost:5000
